<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- favicon -->
      <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="all">
      <!-- jquery-ui css -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}">
      <!-- fancybox box css -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.fancybox.min.css}">
      <!-- Fonts Awesome CSS -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}">
      <!-- Elmentkit Icon CSS -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/ekiticons.css}">
      <!-- slick slider css -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}">
      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
      <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
      <title>Traveler – Travel & Trip Business HTML5 Template</title>
   </head>
   <body class="home">
      <div id="siteLoader" class="site-loader">
         <div class="preloader-content">
            <img th:src="@{/images/loader1.gif}" alt="">
         </div>
      </div>
      <div id="page" class="page">
         <!-- site header html start  -->
          <div th:replace="~{fragments :: header('contact')}"></div>
         <!-- site header html end  -->
         <main id="content" class="site-main">
            <section class="contact-inner-page">
               <!-- ***Inner Banner html start form here*** -->
               <div class="inner-banner-wrap">
                  <div class="inner-baner-container" style="background-image: url(../images/img7.jpg);">
                     <div class="container">
                        <div class="inner-banner-content">
                           <h1 class="page-title">Contact US</h1>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- ***Inner Banner html end here*** -->
               <!-- ***contact section html start form here*** -->
               <div class="inner-contact-wrap">
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-6">
                           <div class="section-heading">
                              <h5 class="sub-title">GET IN TOUCH</h5>
                              <h2 class="section-title">REACH & CONTACT US!</h2>
                              <p>Fusce hic augue velit wisi quibusdam pariatur, iusto primis, nec nemo, rutrum. Vestibulum cumque laudantium. Sit ornare mollitia tenetur, aptent. Eget feugiat error necessitatibus taciti..</p>
                              <div class="social-icon">
                                 <ul>
                                    <li>
                                       <a href="https://www.facebook.com" target="_blank">
                                          <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="https://www.twitter.com" target="_blank">
                                          <i class="fab fa-twitter" aria-hidden="true"></i>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="https://www.youtube.com" target="_blank">
                                          <i class="fab fa-youtube" aria-hidden="true"></i>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="https://www.instagram.com" target="_blank">
                                          <i class="fab fa-instagram" aria-hidden="true"></i>
                                       </a>
                                    </li>
                                    <li>
                                       <a href="https://www.pinterest.com" target="_blank">
                                          <i class="fab fa-pinterest" aria-hidden="true"></i>
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                           <div class="contact-map">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.540423056448!2d-0.12174238402827448!3d51.50330061882345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b900d26973%3A0x4291f3172409ea92!2slastminute.com%20London%20Eye!5e0!3m2!1sen!2snp!4v1646314586610!5m2!1sen!2snp" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="contact-from-wrap primary-bg">
                              <form method="get" class="contact-from">
                                 <p>
                                    <label>First Name..</label>
                                    <input type="text" name="name" placeholder="Your Name*">
                                 </p>
                                 <p>
                                    <label>Email Address</label>
                                    <input type="email" name="email" placeholder="Your Email*">
                                 </p>
                                 <p>
                                    <label>Comments / Questions</label>
                                    <textarea rows="8" placeholder="Your Message*"></textarea>
                                 </p>
                                 <p>
                                    <input type="submit" name="submit" value="SUBMIT MESSAGE">
                                 </p>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- ***contact section html start form here*** -->
               <!-- ***iconbox section html start form here*** -->
               <div class="contact-details-section bg-light-grey">
                  <div class="container">
                     <div class="row align-items-center">
                        <div class="col-lg-4">
                           <div class="icon-box border-icon-box">
                              <div class="box-icon">
                                 <i aria-hidden="true" class="fas fa-envelope-open-text"></i>
                              </div>
                              <div class="icon-box-content">
                                 <h4>EMAIL ADDRESS</h4>
                                 <ul>
                                    <li>
                                       <a href="mailto:support@gmail.com">support@gmail.com</a>
                                    </li>
                                    <li>
                                       <a href="mailto:name@comapny.com">name@comapny.com</a>
                                    </li>
                                    <li>
                                       <a href="mailto:info@domain.com">info@domain.com</a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4">
                           <div class="icon-box border-icon-box">
                              <div class="box-icon">
                                 <i aria-hidden="true" class="fas fa-phone-alt"></i>
                              </div>
                              <div class="icon-box-content">
                                 <h4>PHONE NUMBER</h4>
                                 <ul>
                                    <li>
                                       <a href="tell:+132599254669">+132 (599) 254 669</a>
                                    </li>
                                    <li>
                                       <a href="callto:123669255587">+123 (669) 255 587</a>
                                    </li>
                                    <li>
                                       <a href="callto:01977259912">+01 (977) 2599 12</a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4">
                           <div class="icon-box border-icon-box">
                              <div class="box-icon">
                                 <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
                              </div>
                              <div class="icon-box-content">
                                 <h4>ADDRESS LOCATION</h4>
                                 <ul>
                                    <li>
                                       3146 Koontz, California
                                    </li>
                                    <li>
                                       Quze.24 Second floor
                                    </li>
                                    <li>
                                       36 Street, Melbourne
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- ***iconbox section html end here*** -->
            </section>
         </main>
         <!-- ***site footer html start form here*** -->
          <div th:replace="~{fragments :: footer}"></div>
         <!-- ***site footer html end*** -->
         
   </body>
</html>