<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Header Fragment -->
<header th:fragment="header(activemenu)" id="masthead" class="site-header">
            <!-- header html start -->
            <div class="top-header">
               <div class="container">
                  <div class="top-header-inner">
                     <div class="header-contact text-left">
                        <a href="tel:+01977259912">
                           <i aria-hidden="true" class="icon icon-phone-call2"></i>
                           <div class="header-contact-details">
                              <span class="contact-label">For Further Inquires :</span>
                              <h5 class="header-contact-no">+01 (977) 2599 12</h5>
                           </div>
                        </a>
                     </div>
                     <div class="site-logo text-center">
                        <h1 class="site-title">
                           <a href="/">
                              <img th:src="@{/images/site-logo.png}" alt="Logo">
                           </a>
                        </h1>
                     </div>
                     <div class="header-icon text-right">
                        <div class="header-search-icon d-inline-block">
                           <a href="#">
                              <i aria-hidden="true" class="fas fa-search"></i>
                           </a>
                        </div>
                        <div class="offcanvas-menu d-inline-block">
                           <a href="#">
                              <i aria-hidden="true" class="icon icon-burger-menu"></i>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="bottom-header">
               <div class="container">
                  <div class="bottom-header-inner d-flex justify-content-between align-items-center">
                     <div class="header-social social-icon">
                        <ul>
                           <li>
                              <a href="https://www.facebook.com" target="_blank">
                                 <i class="fab fa-facebook-f" aria-hidden="true"></i>
                              </a>
                           </li>
                           <li>
                              <a href="https://www.twitter.com" target="_blank">
                                 <i class="fab fa-twitter" aria-hidden="true"></i>
                              </a>
                           </li>
                           <li>
                              <a href="https://www.youtube.com" target="_blank">
                                 <i class="fab fa-youtube" aria-hidden="true"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                     <div class="navigation-container d-none d-lg-block">
                        <nav id="navigation" class="navigation">
                           <ul>
                              <li th:class="${activemenu == 'home'} ? 'menu-active' : ''">
                                 <a href="/">Home</a>
                              </li>
                              <li th:class="${activemenu == 'about'} ? 'menu-active' : ''">
                                 <a href="/about">about us</a>
                              </li>
                              <li th:class="${activemenu == 'destinations'} ? 'menu-active' : ''">
                                 <a href="/destinations">destination</a>
                              </li>
                              <li th:class="${activemenu == 'packages'} ? 'menu-active' : ''">
                                 <a href="/tour-packages">Tours</a>
                              </li>
                        
                              <li th:class="${activemenu == 'contact'} ? 'menu-active' : ''">
                                 <a href="/contact">contact us</a>
                              </li>

                              <!-- Settings Dropdown start-->
                              <li class="nav-item dropdown">
                                 <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Settings
                                 </a>
                                 <ul class="dropdown-menu" aria-labelledby="settingsDropdown">
                                    <li><a class="dropdown-item" th:href="@{/settings/destinations}">Destinations</a></li>
                                    <li><a class="dropdown-item" th:href="@{/settings/tour-packages}">Tour Packages</a></li>
                                 </ul>
                              </li>
                              <!-- Settings Dropdown end-->
                           </ul>
                        </nav>
                     </div>
                     <div class="header-btn">
                        <a href="booking.html" class="round-btn">Book Now</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="mobile-menu-container"></div>
</header>

<!-- Footer Fragment -->
<footer th:fragment="footer" id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
               <div class="container">
                  <div class="upper-footer">
                     <div class="row">
                        <div class="col-lg-3 col-sm-6">
                           <aside class="widget widget_text">
                              <div class="footer-logo">
                                 <a href="/"><img th:src="@{/images/site-logo.png}" alt=""></a>
                              </div>
                              <div class="textwidget widget-text">
                                 Urna ratione ante harum provident, eleifend, vulputate molestiae proin fringilla, praesentium magna conubia at perferendis, pretium, aenean aut ultrices.
                              </div>
                           </aside>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                           <aside class="widget widget_latest_post widget-post-thumb">
                              <h3 class="widget-title">RECENT POST</h3>
                              <ul>
                                 <li>
                                    <figure class="post-thumb">
                                       <a href="blog-archive.html"><img th:src="@{/images/img21.jpg}" alt=""></a>
                                    </figure>
                                    <div class="post-content">
                                       <h6>
                                          <a href="blog-single.html">BEST JOURNEY TO PEACEFUL PLACES</a>
                                       </h6>
                                       <div class="entry-meta">
                                          <span class="posted-on">
                                             <a href="blog-archive.html">February 17, 2022</a>
                                          </span>
                                       </div>
                                    </div>
                                 </li>
                                 <li>
                                    <figure class="post-thumb">
                                       <a href="blog-archive.html"><img th:src="@{/images/img22.jpg}" alt=""></a>
                                    </figure>
                                    <div class="post-content">
                                       <h6>
                                          <a href="blog-single.html">TRAVEL WITH FRIENDS IS BEST</a>
                                       </h6>
                                       <div class="entry-meta">
                                          <span class="posted-on">
                                             <a href="blog-archive.html">February 17, 2022</a>
                                          </span>
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                           </aside>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                           <aside class="widget widget_text">
                              <h3 class="widget-title">CONTACT US</h3>
                              <div class="textwidget widget-text">
                                 <p>Feel free to contact and<br/> reach us !!</p>
                                 <ul>
                                    <li>
                                       <a href="tel:+01988256203">
                                          <i aria-hidden="true" class="icon icon-phone1"></i>
                                          +01(988) 256 203
                                       </a>
                                    </li>
                                    <li>
                                       <a href="mailtop:info@domain.com">
                                          <i aria-hidden="true" class="icon icon-envelope1"></i>
                                          info@domain.com
                                       </a>
                                    </li>
                                    <li>
                                       <i aria-hidden="true" class="icon icon-map-marker1"></i>
                                       3146 Koontz, California
                                    </li>
                                 </ul>
                              </div>
                           </aside>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                           <aside class="widget">
                              <h3 class="widget-title">Gallery</h3>
                              <div class="gallery gallery-colum-3">
                                 <figure class="gallery-item">
                                    <a th:href="@{/images/img10.jpg}" data-fancybox="gallery-1">
                                       <img th:src="@{/images/img21.jpg}" alt="">
                                    </a>
                                 </figure>
                                 <figure class="gallery-item">
                                    <a th:href="@{/images/img28.jpg}" data-fancybox="gallery-1">
                                       <img th:src="@{/images/img22.jpg}" alt="">
                                    </a>
                                 </figure>
                                 <figure class="gallery-item">
                                    <a th:href="@{/images/img14.jpg}" data-fancybox="gallery-1">
                                       <img th:src="@{/images/img23.jpg}" alt="">
                                    </a>
                                 </figure>
                                 <figure class="gallery-item">
                                    <a th:href="@{/images/img15.jpg}" data-fancybox="gallery-1">
                                       <img th:src="@{/images/img24.jpg}" alt="">
                                    </a>
                                 </figure>
                                 <figure class="gallery-item">
                                    <a th:href="@{/images/img12.jpg}" data-fancybox="gallery-1">
                                       <img th:src="@{/images/img25.jpg}" alt="">
                                    </a>
                                 </figure>
                                 <figure class="gallery-item">
                                    <a th:href="@{/images/img13.jpg}" data-fancybox="gallery-1">
                                       <img th:src="@{/images/img26.jpg}" alt="">
                                    </a>
                                 </figure>
                              </div>
                           </aside>
                        </div>
                     </div>
                  </div>
                  <div class="lower-footer">
                     <div class="row align-items-center">
                        <div class="col-lg-6">
                           <div class="footer-newsletter">
                              <p>Subscribe our newsletter for more update & news !!</p>
                              <form class="newsletter">
                                 <input type="email" name="email" placeholder="Enter Your Email">
                                 <button type="submit" class="outline-btn outline-btn-white">Subscribe</button>
                              </form>
                           </div>
                        </div>
                        <div class="col-lg-6 text-right">
                           <div class="social-icon">
                              <ul>
                                 <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                       <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="https://www.twitter.com/" target="_blank">
                                       <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="https://www.youtube.com/" target="_blank">
                                       <i class="fab fa-youtube" aria-hidden="true"></i>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                       <i class="fab fa-instagram" aria-hidden="true"></i>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                       <i class="fab fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                 </li>
                              </ul>
                           </div>
                           <div class="footer-menu">
                              <ul>
                                 <li>
                                    <a href="policy.html">Privacy Policy</a>
                                 </li>
                                 <li>
                                    <a href="policy.html">Term & Condition</a>
                                 </li>
                                 <li>
                                    <a href="faq.html">FAQ</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="bottom-footer">
               <div class="container">
                  <div class="copy-right text-center">Copyright &copy; 2022 Traveler. All rights reserved.</div>
               </div>
            </div>
    
         <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
         </a>
         <!-- ***custom search field html*** -->
         <div class="header-search-form">
            <div class="container">
               <div class="header-search-container">
                  <form class="search-form" role="search" method="get" >
                     <input type="text" name="s" placeholder="Enter your text...">
                  </form>
                  <a href="#" class="search-close">
                     <i class="fas fa-times"></i>
                  </a>
               </div>
            </div>
         </div>
         <!-- ***custom search field html*** -->
         <!-- ***custom top bar offcanvas html*** -->
         <div id="offCanvas" class="offcanvas-container">
            <div class="offcanvas-inner">
               <div class="offcanvas-sidebar">
                  <aside class="widget author_widget">
                     <h3 class="widget-title">OUR PROPRIETOR</h3>
                     <div class="widget-content text-center"> 
                        <div class="profile"> 
                           <figure class="avatar"> 
                              <img th:src="@{/images/img21.jpg}" alt=""> 
                           </figure> 
                           <div class="text-content"> 
                              <div class="name-title"> 
                                 <h4> James Watson</h4> 
                              </div> 
                              <p>Accumsan? Aliquet nobis doloremque, aliqua? Inceptos voluptatem, duis tempore optio quae animi viverra distinctio cumque vivamus, earum congue, anim velit</p> 
                           </div> 
                           <div class="socialgroup"> 
                              <ul> 
                                 <li> <a target="_blank" href="#"> <i class="fab fa-facebook"></i> </a> </li> 
                                 <li> <a target="_blank" href="#"> <i class="fab fa-google"></i> </a> </li> 
                                 <li> <a target="_blank" href="#"> <i class="fab fa-twitter"></i> </a> </li> 
                                 <li> <a target="_blank" href="#"> <i class="fab fa-instagram"></i> </a> </li> 
                                 <li> <a target="_blank" href="#"> <i class="fab fa-pinterest"></i> </a> </li> 
                              </ul> 
                           </div> 
                        </div> 
                     </div>
                  </aside>
                  <aside class="widget widget_text text-center">
                     <h3 class="widget-title">CONTACT US</h3>
                     <div class="textwidget widget-text">
                        <p>Feel free to contact and<br/> reach us !!</p>
                        <ul>
                           <li>
                              <a href="tel:+01988256203">
                                 <i aria-hidden="true" class="icon icon-phone1"></i>
                                 +01(988) 256 203
                              </a>
                           </li>
                           <li>
                              <a href="mailtop:info@domain.com">
                                 <i aria-hidden="true" class="icon icon-envelope1"></i>
                                 info@domain.com
                              </a>
                           </li>
                           <li>
                              <i aria-hidden="true" class="icon icon-map-marker1"></i>
                              3146 Koontz, California
                           </li>
                        </ul>
                     </div>
                  </aside>
               </div>
               <a href="#" class="offcanvas-close">
                  <i class="fas fa-times"></i>
               </a>
            </div>
            <div class="overlay"></div>
         </div>
         <!-- ***custom top bar offcanvas html*** -->
      </div>

      <!-- JavaScript -->
      <script th:src="@{/js/jquery.js}"></script>
      <script th:src="@{/js/waypoints.js}"></script>
      <script th:src="@{/js/bootstrap.min.js}"></script>
      <script th:src="@{/js/jquery-ui.min.js}"></script>
      <script th:src="@{/js/loopcounter.js}"></script>
      <script th:src="@{/js/jquery.counterup.min.js}"></script>
      <script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
      <script th:src="@{/js/masonry.pkgd.min.js}"></script>
      <script th:src="@{/js/slick.min.js}"></script>
      <script th:src="@{/js/jquery.fancybox.min.js}"></script>
      <script th:src="@{/js/jquery.slicknav.js}"></script>
      <script th:src="@{/js/custom.min.js}"></script>
    </footer>
</html>
