<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- favicon -->
      <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="all">
      <!-- jquery-ui css -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}">
      <!-- fancybox box css -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.fancybox.min.css}">
      <!-- Fonts Awesome CSS -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}">
      <!-- Elmentkit Icon CSS -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/ekiticons.css}">
      <!-- slick slider css -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}">
      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
      <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
      <title>Traveler – Travel & Trip Business HTML5 Template</title>
   </head>
   <body class="home">
      <div id="siteLoader" class="site-loader">
         <div class="preloader-content">
            <img th:src="@{/images/loader1.gif}" alt="">
         </div>
      </div>
      <div id="page" class="page">
         <!-- site header html start  -->
          <div th:replace="~{fragments :: header('packages')}"></div>
         <!-- site header html end  -->
         <main id="content" class="site-main">
            <section class="inner-page-wrap">
               <!-- ***Inner Banner html start form here*** -->
               <div class="inner-banner-wrap">
                  <div class="inner-baner-container" style="background-image: url(../images/img7.jpg);">
                     <div class="container">
                        <div class="inner-banner-content">
                           <h1 class="page-title">Tour Packages</h1>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- ***Inner Banner html end here*** -->
               <!-- ***package section html start form here*** -->
               <div class="package-item-wrap">
                  <div class="container">
                     <article class="package-item">
                        <figure class="package-image" style="background-image: url(../images/img4.jpg);"></figure>
                        <div class="package-content">
                           <h3>
                              <a href="package-detail.html">
                                 EXPERIENCE THE GREAT HOLIDAY ON BEACH
                              </a>
                           </h3>
                           <p>Laoreet, voluptatum nihil dolor esse quaerat mattis explicabo maiores, est aliquet porttitor! Eaque, cras, aspernatur.</p>
                           <div class="package-meta">
                              <ul>
                                 <li>
                                    <i class="fas fa-clock"></i>
                                    7D/6N
                                 </li>
                                 <li>
                                    <i class="fas fa-user-friends"></i>
                                    pax: 10
                                 </li>
                                 <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    Malaysia
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="package-price">
                           <div class="review-area">
                              <span class="review-text">(25 reviews)</span>
                              <div class="rating-start-wrap d-inline-block">
                                 <div class="rating-start">
                                    <span style="width: 80%"></span>
                                 </div>
                              </div>
                           </div>
                           <h6 class="price-list">
                              <span>$750</span>
                              / per person
                           </h6>
                           <a href="booking.html" class="outline-btn outline-btn-white">Book now</a>
                        </div>
                     </article>
                     <article class="package-item">
                        <figure class="package-image" style="background-image: url(../images/img5.jpg);"></figure>
                        <div class="package-content">
                           <h3>
                              <a href="package-detail.html">
                                 SUMMER HOLIDAY TO THE OXOLOTAN RIVER
                              </a>
                           </h3>
                           <p>Laoreet, voluptatum nihil dolor esse quaerat mattis explicabo maiores, est aliquet porttitor! Eaque, cras, aspernatur.</p>
                           <div class="package-meta">
                              <ul>
                                 <li>
                                    <i class="fas fa-clock"></i>
                                    5D/4N
                                 </li>
                                 <li>
                                    <i class="fas fa-user-friends"></i>
                                    pax: 10
                                 </li>
                                 <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    Malaysia
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="package-price">
                           <div class="review-area">
                              <span class="review-text">(12 reviews)</span>
                              <div class="rating-start-wrap d-inline-block">
                                 <div class="rating-start">
                                    <span style="width: 80%"></span>
                                 </div>
                              </div>
                           </div>
                           <h6 class="price-list">
                              <span>$520</span>
                              / per person
                           </h6>
                           <a href="booking.html" class="outline-btn outline-btn-white">Book now</a>
                        </div>
                     </article>
                     <article class="package-item">
                        <figure class="package-image" style="background-image: url(../images/img6.jpg);"></figure>
                        <div class="package-content">
                           <h3>
                              <a href="package-detail.html">
                                 SANTORINI ISLAND'S WEEKEND VACATION
                              </a>
                           </h3>
                           <p>Laoreet, voluptatum nihil dolor esse quaerat mattis explicabo maiores, est aliquet porttitor! Eaque, cras, aspernatur.</p>
                           <div class="package-meta">
                              <ul>
                                 <li>
                                    <i class="fas fa-clock"></i>
                                    6D/5N
                                 </li>
                                 <li>
                                    <i class="fas fa-user-friends"></i>
                                    pax: 10
                                 </li>
                                 <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    Malaysia
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="package-price">
                           <div class="review-area">
                              <span class="review-text">(43 reviews)</span>
                              <div class="rating-start-wrap d-inline-block">
                                 <div class="rating-start">
                                    <span style="width: 80%"></span>
                                 </div>
                              </div>
                           </div>
                           <h6 class="price-list">
                              <span>$660</span>
                              / per person
                           </h6>
                           <a href="booking.html" class="outline-btn outline-btn-white">Book now</a>
                        </div>
                     </article>
                     <article class="package-item">
                        <figure class="package-image" style="background-image: url(../images/img1.jpg);"></figure>
                        <div class="package-content">
                           <h3>
                              <a href="package-detail.html">
                                 THE WONDERFUL VENICE CITY EXCITING JOURNEY
                              </a>
                           </h3>
                           <p>Laoreet, voluptatum nihil dolor esse quaerat mattis explicabo maiores, est aliquet porttitor! Eaque, cras, aspernatur.</p>
                           <div class="package-meta">
                              <ul>
                                 <li>
                                    <i class="fas fa-clock"></i>
                                    6D/5N
                                 </li>
                                 <li>
                                    <i class="fas fa-user-friends"></i>
                                    pax: 10
                                 </li>
                                 <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    Malaysia
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="package-price">
                           <div class="review-area">
                              <span class="review-text">(43 reviews)</span>
                              <div class="rating-start-wrap d-inline-block">
                                 <div class="rating-start">
                                    <span style="width: 80%"></span>
                                 </div>
                              </div>
                           </div>
                           <h6 class="price-list">
                              <span>$500</span>
                              / per person
                           </h6>
                           <a href="booking.html" class="outline-btn outline-btn-white">Book now</a>
                        </div>
                     </article>
                     <article class="package-item">
                        <figure class="package-image" style="background-image: url(../images/banner-img1.jpg);"></figure>
                        <div class="package-content">
                           <h3>
                              <a href="package-detail.html">
                                 BEAUTIFUL PLACE TO VISIT IN BEACH OF MALDIVES
                              </a>
                           </h3>
                           <p>Laoreet, voluptatum nihil dolor esse quaerat mattis explicabo maiores, est aliquet porttitor! Eaque, cras, aspernatur.</p>
                           <div class="package-meta">
                              <ul>
                                 <li>
                                    <i class="fas fa-clock"></i>
                                    6D/5N
                                 </li>
                                 <li>
                                    <i class="fas fa-user-friends"></i>
                                    pax: 10
                                 </li>
                                 <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    Malaysia
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="package-price">
                           <div class="review-area">
                              <span class="review-text">(43 reviews)</span>
                              <div class="rating-start-wrap d-inline-block">
                                 <div class="rating-start">
                                    <span style="width: 80%"></span>
                                 </div>
                              </div>
                           </div>
                           <h6 class="price-list">
                              <span>$460</span>
                              / per person
                           </h6>
                           <a href="booking.html" class="outline-btn outline-btn-white">Book now</a>
                        </div>
                     </article>
                  </div>
               </div>
               <!-- ***package section html start form here*** -->
               <!-- ***client section html start form here*** -->
               <div class="client-section" style="background-image: url(../images/banner-img1.jpg);">
                  <div class="overlay"></div>
                  <div class="container">
                     <div class="row align-items-center">
                        <div class="col-lg-6">
                           <article class="client-content">
                              <h5 class="sub-title">DISCOUNT OFFER</h5>
                              <h2 class="section-title">GET SPECIAL DISCOUNT ON SIGN UP !</h2>
                              <p>Fusce hic augue velit wisi quibusdam pariatur, iusto primis, nec nemo, rutrum. Vestibulum cumque laudantm sit.</p>
                              <a href="contact.html" class="round-btn">Sign Up Now</a>
                           </article>
                        </div>
                        <div class="col-lg-6">
                           <div class="client-logo">
                              <ul>
                                 <li>
                                    <img src="../images/client-img1.png" alt="">
                                 </li>
                                 <li>
                                    <img src="../images/client-img2.png" alt="">
                                 </li>
                                 <li>
                                    <img src="../images/client-img3.png" alt="">
                                 </li>
                                 <li>
                                    <img src="../images/client-img4.png" alt="">
                                 </li>
                                 <li>
                                    <img src="../images/client-img5.png" alt="">
                                 </li>
                                 <li>
                                    <img src="../images/client-img6.png" alt="">
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- ***clinet section html end here*** -->
            </section>
         </main>
         <!-- ***site footer html start form here*** -->
          <div th:replace="~{fragments :: footer}"></div>
         <!-- ***site footer html end*** -->
         
   </body>
</html>